/* Small devices (portrait tablets and large phones, 600px and up) */
 body{
        background-color: lightseagreen;
    }
 
.menu{
    flex-direction: column;
    padding: 5px;
}

.menu a{

    background-color: indianred;
    margin: 5px 0;
    text-align: center;
    border-radius: 20px;
}